<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="listeningDir" value="c:\work\vrgrouptask\data\listen" />
    <add key="tempDir" value="c:\work\vrgrouptask\data\temp" />
    <add key="failedDir" value="c:\work\vrgrouptask\data\failed" />
    <add key="processedDir" value="c:\work\vrgrouptask\data\processed" />

    <add key="batchSize" value="3" />
  </appSettings>
</configuration>